name: test.yml
on:
  workflow_dispatch:
  workflow_call: 
  push:
   branches:
    - dev

permissions:
  id-token: write

jobs:
  test:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v6

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@main
      with:
        role-to-assume: arn:aws:iam::331208495907:role/github_action_oidc

    - uses: ./
      with:
        aws-region: ap-northeast-2
        aws-base-path: /test